#main-drawer{
    width: 100%;
    text-align: center;
    background-color: #ffffff88;
    box-shadow: 0 5px 5px #00000011;
    padding: 20px 10px;
    box-sizing: border-box;
    & > a{
        text-decoration: none;
        color: #000000;
    }
    & > *{
        padding: 10px;
        &.drawer{
            border-top: 1px solid #00000011;
        }
    }
}

.link-card{
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0px 0px #00000011;
    transition: box-shadow .3s ease-in-out;
    & > img{
        border-radius: 10px;
        border: 10px solid transparent;
        transition: box-shadow .3s ease-in-out;
        box-shadow: 0 4px 5px #00000033;
    }
    & > div{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: center;
        padding: 10px;
        & > .title{
            font-weight: bold;
        }
    }
    
}

*{
    --color-icon-border-1:hsl(207deg 60% 65%);
    --color-icon-border-2:hsl(343deg 60% 65%);
    --background-image-url:url(assets/background_small.png);
}

.icon{
    border-radius: 50%;
    width: min(100px, 100%);
    border: 5px solid transparent;
    background: no-repeat linear-gradient(var(--color-icon-border-1),var(--color-icon-border-2));
    background-clip: border-box;
    background-origin: border-box;
}

:root{
    position: relative;
    z-index: 10;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    background: center / cover var(--background-image-url) no-repeat;
    box-sizing: border-box;
}
body{
    margin: 0;
}

#wrapper{
    min-height: 100vh;
    backdrop-filter: blur(3px);
}

.infolist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birthday{
    list-style-image: url(assets/cake.svg);
}
#timezone{
    list-style-image: url(assets/clock.svg);
}
#country{
    list-style-image: url(assets/flag.svg);
}

@media screen and (min-width:600px) {
    #main-drawer{
        width: 600px;
        border-radius: 10px;
    }
    *{
        --background-image-url:url(assets/background.png);
    }
    #wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .link-card{
        &.link > div{
            background: bottom right / 10px no-repeat url(assets/box-arrow-up-right.svg);
        }
        &:hover{
            box-shadow: 0 5px 5px #00000011;
            & > img{
                box-shadow: 0 2px 3px #00000033;
            }
        }
        &.link{
            &::after{
                content: "";
                width: 0px;
                transition: width .3s;
                background: right / 30px no-repeat url(assets/arrow-right.svg);
            }
            &:hover{
                &::after{
                    width: 30px;
                }
            }
        }
    }
}